<!-- include header -->
<%- include('include/_header.ejs') -%>
<!-- /include header -->

<!-- 메인 -->
<main id="site-main">
	<div class="container">
		<div class="box-nav d-flex justify-between">
			<a href="/add-user" class="border-shadow">
				<span class="text-gradiente">신규 사용자 추가</span>
			</a>
		</div>

		<!-- form handling -->
		<form action="/" method="post">
			<table class="table">
				<thead class="thead- dark">
					<tr>
						<th>아이디</th>
						<th>이름</th>
						<th>이메일</th>
						<th>성별</th>
						<th>상태</th>
						<th>작업</th>
					</tr>
				</thead>
				<tbody>
					<%- include('include/_show.ejs') %>
				</tbody>
			</table>
		</form>
	</div>
</main>
<!-- 메인 -->

<!-- include footer -->
<%- include('include/_footer.ejs') -%>
<!-- /include footer -->
